$font-stack: Poppins, sans-serif;
$font-size: 15px;
$font-weight: 200, 400, 600;
$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);
$neutral-dark-blue:hsl(234, 12%, 34%);
$neutral-gray-blue:hsl(229, 6%, 66%);

body{
    font-family: $font-stack;
    color: $neutral-dark-blue;
    background-color: #fafafa;
}

header{
    margin-top: 50px;
    font-weight: 200;
    font-style: normal;
    font-size: 150%;
}

.desc{
    color: $neutral-gray-blue;
    font-size: 70%;
    margin-top: 10px;
    
    p{ 
        padding-bottom: 45px;
    }
}

.title{
    text-align: center;

    p{font-size: 85%; margin-bottom: 0px; font-weight: 100;}
    b{font-size: 90%;} 
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 50%;
        p {
        color: $neutral-gray-blue;
        font-size: 150%;
    }
}

.card{
    
    border-collapse: separate;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 280px;
    height: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-self: center;
    
    #category{
        font-weight: bold;
        color: $neutral-dark-blue;
        font-size: 20px;
        padding-left: 25px;
        margin-bottom: 0px;
        
    }

    #detail{
        color: $neutral-gray-blue;
        font-size: 12px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 5px;
    }
}

#karma{
    border-top-style: solid;
    border-top-color: $primary-orange;
    grid-column: 2;
    grid-row: 3;
}

#supervisor{
    border-top-style: solid;
    border-top-color: $primary-cyan;
    grid-column: 2;
    grid-row: 1;
}

#team{
    border-top-style: solid;
    border-top-color: $primary-red;
    grid-column: 2;
    grid-row: 2;
}

#calculator{
    border-top-style: solid;
    border-top-color: $primary-blue;
    grid-column: 2;
    grid-row: 4;
}

img {
    width: 20%;
    height: auto;
    margin-top: 16px;
    margin-left: 205px;
}


@media only screen and (min-width: 900px) {
    #karma{
        border-top-style: solid;
        border-top-color: $primary-orange;
        grid-column: 2;
        grid-row: 3/5;
    }
    
    #supervisor{
        border-top-style: solid;
        border-top-color: $primary-cyan;
        grid-column: 1;
        grid-row: 2/4;
    }
    
    #team{
        border-top-style: solid;
        border-top-color: $primary-red;
        grid-column: 2;
        grid-row: 1/3;
    }
    
    #calculator{
        border-top-style: solid;
        border-top-color: $primary-blue;
        grid-column: 3;
        grid-row: 2/4;
    }

    .container{
        width: 900px;
        height: 420px;
        margin: auto;
    }
}
